.button {
    font-family: inherit;
    padding: 1.2rem 2rem;
    background-color: white;
    border: 1px solid #3B3C4A;
    color: #3B3C4A;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    transition: background-color 200ms linear;
}

.button:active {
    background-color: rgb(189, 189, 189);
}